/* pages inside tabs */
.appPage {
    margin: 25px 0px 25px 0px;
    max-height: 90vh;
    overflow-y: auto;
    padding: 0px 25px 0px 25px;
    min-height: 100px;
}

/** scrolling */
.appPage::-webkit-scrollbar {
    width: 10px;
}
.appPage::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
}
.appPage::-webkit-scrollbar-thumb {
    transition: background-color 1s;
    border-radius: 20px;
}
#mainBoard.even .appPage::-webkit-scrollbar-thumb {
    background-color: #FFC248;
}
#mainBoard.odd .appPage::-webkit-scrollbar-thumb {
    background-color: #0179BE;
}



