#mainBoard #Help {
    background-color: white;
    font-family: "Georgia";
    font-size: 21px;
}

#mainBoard #Help a {
    text-decoration: underline;
    color: #0179BE;
}
#mainBoard #Help a:hover {
    color: #FFC248;
}
.help button {
    background-color: white !important;
}

#mainBoard #Help li {
    padding-top: 5px;
}
