#DataProvider .cardsBoard {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#DataProvider .cardsBoard .outer_card {
    margin: 5px;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    cursor: pointer;
}

#DataProvider .outer_card.clicked {
    box-shadow: none;
    cursor: hand;
    border-style: solid;
    border-width: 3px;
    margin: 2px;
}

#mainBoard.odd #DataProvider .outer_card.clicked {
    border-color: #FFC248;
    transition: border-color 1s;
}

#mainBoard.even #DataProvider .outer_card.clicked {
    border-color: #0179BE;
    transition: border-color 1s;
}

.cardsBoard li {
    list-style-type: none !important;
}
