#pagesScoreboard {
    background: white;
    right: 0.5cm;
    width: 21cm;
    position: fixed;
    top: 0px;
    height: 50px;
    font-family: Georgia;
    font-size: 17.5px;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    z-index: 10;
    transition: background 1s;
}

#pagesScoreboard.odd {
    background: #0179BE;
}

#pagesScoreboard.even {
    background: #FFC248;
}

#pagesScoreboard div.inner {
    position: absolute;
    width: 21cm;
    height: 50px;
    display: flex;
    transition: opacity 0.5s;
}

#pagesScoreboard #backend {
    width: 8cm;
    right: 0cm;
    height: 50px;
    display: flex;
    opacity: 0;
    transition: opacity 1.61s;
    pointer-events: none;
}

#pagesScoreboard #backend.show {
    opacity: 1;
}

#pagesScoreboard #backend div {
    text-align: right;
    flex: 1;
    margin-right: 10px;
    margin-left:0;
}

#pagesScoreboard.even #backend div {
    color: #0179BE;
}

#pagesScoreboard.odd #backend div {
    color: #FFC248;
}

#pagesScoreboard #backend.inner #progress {
    text-align: right;
    flex: 0;
    margin-left:0;
    width: 35px;
}

#pagesScoreboard.page #managePages { /* page selected for editing */
    opacity: 0;
}

#pagesScoreboard div.inner div {
    justify-content: center;
    margin-left: 10px;
    align-self: center;
    color: white;
}

#pagesScoreboard #navPages {
    font-family:sans-serif;
    font-size: 20px;
}

#pagesScoreboard #navPages span {
    padding-left: 8px;
    padding-right: 8px;
    background: white;
    margin-left: 8px;
    cursor: pointer;
    border-style: solid;
    border-color: white;
    border-width: 1.6px;
    transition: background 0.5s;
}

#pagesScoreboard #navPages span.odd {
    color: #0179BE;
}
#pagesScoreboard #navPages span.even {
    color: #FFC248;
}
#pagesScoreboard #navPages span.selected {
    font-weight: bold;
    cursor: default;
    color: white;
}
#pagesScoreboard #navPages span.selected.odd {
    background: #0179BE;
}
#pagesScoreboard #navPages span.selected.even {
    background: #FFC248;
}
#pagesScoreboard.odd button {
    color: #FFC248;
    background-color: #0179BE;
}
#pagesScoreboard.even button {
    color: #0179BE;
    background-color: #FFC248;
}

