/*
*
* 06.08.17 Alexander Yemelyanov a.yemelyanov@gmail.com
*
* Let's define look of the page and components inside page, like header/footer etc.
*
*/
.page {
    background: white;
    display: block;
    float: right;
    clear: both;
    width: 210mm;
    height: 297mm;
    margin-bottom: 18px;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    overflow: hidden;
}

.page.preview {
    background: white;
    display: block;
    float: left;
    clear: both;
    width: 210mm;
    height: 297mm;
    margin: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    overflow: hidden;
}

.page.hide {
    display:none;
}
/* Page images from theme see /public/page_themes/readme.txt */
.page.odd {
    background-image: url('../page_themes/default/background/regular_blue.svg')
}
.page.even {
    background-image: url('../page_themes/default/background/regular_yellow.svg')
}
.page #top_header {
    width: 210mm;
    height: 118.125mm;
    position: absolute;
    background-image: url('../page_themes/default/foreground/header.svg');
    pointer-events: none;
}

.page.hide_header #top_header {
    display: none;
}

/*     */
.page #header {
    width: 210mm;
    height: 118.125mm;
    position: absolute;
    color: gray;
    opacity: 1;
    transition: opacity 1s;
    background-size: cover;
}
.page #header * {
    pointer-events: none;
}
.page #header.error {
    opacity: 0.8;
    background-color: black;
    color: indianred;
    z-index: 1;
}
.page #header.good {
    opacity: 0.8;
    background-color: black;
    background-image: none !important;
    color: lightgreen;
    z-index: 2;
}
.page #no_top_header {
    display: none;
}
.page #header .inner {
    border-style:none;
    position: absolute;
    width: 100%;
    margin-top:61mm;
    height: 61mm;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: serif;
    font-size: 20pt;
    text-align: center;
    opacity: 1;
    transition: opacity 0.3s;
}
.page #header #help {
    border-style:none;
    width: 100%;
    height: 100%;
    align-self: center;
    margin-left: 5mm;
    margin-right: 5mm;
}

.page #section_title_outer {
    position: absolute;
    margin-top: 31mm;
    float: left;
    min-width: 15cm;
    margin-left: -5px;
}
.page #section_title_outer_rotated {
    position: relative;
    top: 0.7cm;
    left: 0.4cm;
    transform: rotate(-12.70deg);
    background: none;
}
.page #section_title_inner {
    padding: 0.3cm 1.5cm;
    font-family: monospace;
    font-size: 26pt;
    color: white;
}
/* Style of content of the pages */

/*.page img {
    width: 6cm;
    height: auto;
    float:left;
    margin-right: 0.5cm;
    resize: both;
    overflow: auto;
}
.page img.right {
    float:right;
    margin-left: 0.5cm;
}*/

.page #title {
    position: absolute;
    height: 23mm;
    width: 210mm;
    margin-top: 118.125mm;
    display: block;
    overflow: hidden;
}
.page.first #title {
    margin-top: 101mm;
}
.page #title div {
    margin-top: 2mm;
    height: 19mm;
    overflow: hidden;
}

.page #content {
    position: relative;
    top: 141.125mm;
    width: 210mm;
    height: 136.125mm;
    overflow: hidden;
}
.page.first #content {
    top: 124mm;
}

.page #footer {
    position: absolute;
    margin-top:140.9mm;
    width: 210mm;
    height: 19mm;
    overflow: hidden;
}

.page a {
    text-decoration: underline;
    color: darkblue;
}


.page.first #footer {
    margin-top:123.5mm;
}

/* placeholder for fields */
.page [contenteditable=true]:empty:before {
    content: attr(placeholder);
    color: gray;
}
.page [contenteditable=true] {
    margin-left: 5mm;
    margin-right: 5mm;
    height: 100%;
    padding-top: 5mm;
}

.page #title [contenteditable=true] {
    border: 0mm solid darkblue;
    border-bottom-width: 2mm;
}

/* move fields with contentEditable to front */
.page #title, .page #content, .page #footer { /* default */
    z-index: 1;
    transition:background 1s;
}
.page #title.edit,.page #content.edit,.page #footer.edit { /* edit mode */
    background-color:white;
    z-index: 3;
}

/* fonts for fields */
.page #title {
    font-family: Arial, serif;
    font-weight: bold;
    font-size: 20pt;
}

.page #title [contenteditable=true]:empty:not(:focus) {
    margin-top:35pt;
    height: 25pt
}

.page #qrcode {
    color: gray;
    height: 40mm;
    width: 40mm;
    font-family: serif;
    font-size: 90%;
    word-spacing: 40mm;
    text-align: center;
    resize: none;
    float: right;
}

/* lock the page for some needs */
.page #shade {
    position: absolute;
    width: 210mm;
    height: 297mm;
    background: black;
    margin: 0px;
    padding: 0px;
    opacity: 0;
    transition: opacity 1s;
    z-index: 2;
    pointer-events: none;
}
.page #shade.on {
    opacity: 0.75;
    pointer-events: auto;
}
@media print {
    .page div.shade {
        display: none;
    }
}

/* debug layout of the page */
.page.showBorders div { /* highlight zones of  the page */
    border: 1px solid seagreen;
}
@media print {
    .page.showBorders div { /* hide highlighting of zones when printing */
        border: none;
    }
}