div#mainBoard {
    background: white;
    right: 22cm;
    left: 0px;
    position: fixed;
    bottom: 0px;
    top: 0px;
    padding: 0;
    font-family: Georgia;
    font-size: 17.5px;
    /*min-width: 200px;*/
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    z-index: 10;
    transition: background 1s;
}

#mainBoard header span {
    color: white;
}
#mainBoard .inner {
    height: 100%;
}
#mainBoard .mainArea {
    height: 100%;
}

.dynamicBackgroundColor {
    transition: background 1s;
}
#mainBoard.odd, #mainBoard.odd .dynamicBackgroundColor {
    background-color: #0179BE;
    transition: background-color 1s;
}
#mainBoard.even, #mainBoard.even .dynamicBackgroundColor {
    background-color: #FFC248;
    transition: background-color 1s;
}
.dynamicColor {
    transition: color 1s;
}
#mainBoard.odd .dynamicColor {
    color: #FFC248;
    transition: color 1s;
}
#mainBoard.even .dynamicColor {
    color: #0179BE;
    transition: color 1s;
}
#mainBoard.even input {
    color: #0179BE;
    transition: color 1s;
}
#mainBoard.odd input {
    color: #FFC248;
    transition: color 1s;
}
#mainBoard.even label, #mainBoard.even label *, .popover.even label * {
    color: #0179BE;
    transition: color 1s;
}
#mainBoard.odd label, #mainBoard.odd label *, .popover.odd label * {
    color: #FFC248;
    transition: color 1s;
}
#mainBoard.even svg,.popover.even svg {
    color: #0179BE;
    transition: color 1s;
}
#mainBoard.odd svg,.popover.odd svg {
    color: #FFC248;
    transition: color 1s;
}
#mainBoard.odd button {
    background-color: #0179BE;
    transition: background-color 1s;
}
#mainBoard.even button {
    background-color: #FFC248;
    transition: background-color 1s;
}
#mainBoard.even button span {
    color: #0179BE;
    transition: color 1s;
}
#mainBoard.odd button span {
    color: #FFC248;
    transition: color 1s;
}

#mainBoard.even .select {
    color: #0179BE;
}
#mainBoard.odd .select {
    color: #FFC248;
}

.popover {
    margin-top: 5px;
    padding: 25px;
}
.popover.even {
    background-color: #FFC248;
    color: #0179BE;
}
.popover.odd {
    background-color: #0179BE;
    color: #FFC248;
}
.popover.even button  {
    background-color: #FFC248;
}
.popover.odd button {
    background-color: #0179BE;
}
.popover.odd button span {
    color: #FFC248;
}
.popover.even button span {
    color: #0179BE;
}

.popover.even  input {
    color: #0179BE;
}
.popover.odd  input {
    color: #FFC248;
}
.popover.even label {
    color: #0179BE;
}
.popover.odd label {
    color: #FFC248;
}
.popover.even .select {
    color: #0179BE;
}
.popover.odd .select {
    color: #FFC248;
}
.popover.warning  {
    background-color: darkred;
}

.popover.odd .dynamicColor {
    color: #FFC248;
}

.popover.even .dynamicColor {
    color: #0179BE;
}

.popover.warning * {
    color: white;
}
.popover.warning button {
    background-color: white;
}
.popover.warning button span {
    color: darkred;
}
