body {
    background: rgb(204,204,204);
    font-family: Arial;
    font-size: 13.5pt;
    margin: 0.5cm;
}

select {
    font-family: Georgia;
    font-size: 17.5px;
    border-radius: 5px;
    border: 1px solid black;
}

#pages {
    padding-top: 50px;
}

@page {
    size: A4;
}

/* You should setup parameters in print dialog in the browser: margin=0, print background */
@media print {
    html, body, .page, page {
        width: 210mm;
        height: 297mm;
        margin: 0mm !important;
        padding: 0mm  !important;
        box-shadow: none;
    }

    #mainBoard,#pagesScoreboard {
        display: none;
    }

    div#pages {
        padding-top: 0;
    }
}